langgraph
langchain
langchain-core
langchain-openai
chromadb 
langchain-text-splitters 
sentence-transformers
transformers
torch
ragas
datasets
langchain-community
fastapi
uvicorn 
slowapi
locust
mlflow
pytest
httpx2